<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sucky.pr.p03.pr01.dao.EstateDAO">
	<!-- 문제 1-1번 -->
	<select id="selectEstate" parameterType="int" resultType="com.sucky.pr.p03.pr01.model.estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
			
		WHERE
			`id` = #{id}
	</select>


<!-- 문제 1-2 -->
	<select id="selectEstateRent" parameterType="int" resultType="com.sucky.pr.p03.pr01.model.estate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
			
		WHERE
			`rentPrice` &lt; #{rentPrice}
	</select>
	<!-- 문제 1-3 -->
	<select id="selectEstateAreaPrice" parameterType="int" resultType="com.sucky.pr.p03.pr01.model.estate">
		
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
			
		WHERE
			`type` = '매매' AND
			`area` &gt; #{area} AND `price` &lt; #{price}
		ORDER BY `id` DESC
	
	</select>
	<!-- 문제 2-1 INSERT  -->
	<insert id="insertEstateObject" parameterType="com.sucky.pr.p03.pr01.model.estate">
		
		INSERT INTO `real_estate`
		(
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{id}
			, #{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 2-2 -->
	
	<insert id="insertEstate" parameterType="map">
		INSERT INTO `real_estate`
		(
			
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
	
	</insert>
	<!-- 3-1 -->
	<update id="updateEstate" parameterType="map">
		
		UPDATE `real_estate`
		SET 
			`type` = #{type}
			, `price` = #{price}
			, `updatedAt` = now()
		WHERE 
			`id` = #{id}	
	
	</update>
	<!-- 4-1 -->
	<delete id="deleteEstate" parameterType="map">
	
		DELETE FROM
			 `real_estate`
			 
		WHERE 
			`id` = #{id}
		
	
	
	</delete>
</mapper>