<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sucky.pr.p02.dao.StoreDAO">
 	<!-- id는 repository DAO Method    resultType은 (콜룸,변수) 저장된 클래스 지정-->
 	<select id="selectStoreList" resultType="com.sucky.pr.p02.model.Store">
 		<!-- sql문 -->
 		SELECT
	 		`id`
	 		, `name`
	 		, `phoneNumber`
	 		, `address`
	 		, `businessNumber`
	 		, `introduce`
	 		, `createdAt`
	 		, `updatedAt`
 		FROM
 			`store`
 	</select>
 </mapper>